.mainScreen{
    margin: 15% 25% 15% 25%;
    height: 70%;
    width: 60%;
    display: flex;
    background-color: #383838;
}
.conversationArea {
    display: block;
    height: 100%;
    width: 60%;
    background-color: #383838;
}
.conversationArea > .messagePrintArea{
    background-color: grey;
    height: 80%;
    width: 100%;
}
.conversationArea > .dataInputArea{
    height: 20%;
    width: 100%;
}