.uiMessage {
    display: block;
}
.message_Background {
    border-radius: 10px;
    background-color: #fef01b;
    margin: 10px 3px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.messageFormat {

}
.read_status {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}